body {
    font-family: sans-serif;
    background: #eee;
    color: #666;
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hidden {
    display: none;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.input-label {
    font-weight: bold;
}

.access-key-input {
   margin-bottom: 8px;
}

.access-key-input,
#backend {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    width: 100%;
    background-color: #fff;
    box-sizing: unset;
}

.access-key-input:focus,
#backend:focus {
    border-color: #007bff;
}

.switch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
    margin-right: 30px;
}

.switch {
    position: relative;
    width: 50px;
    height: 28px;
    margin: 0;
    -webkit-user-select: none;
}

.switch-checkbox {
    display: none;
}

.switch-label {
    display: block;
    width: 50px;
    height: 28px;
    cursor: pointer;
    border-radius: 14px;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.switch-inner {
    display: block;
    width: 150%;
    height: 110%;
    border-radius: 14px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transition: left 0.3s ease-in-out;
}

.switch-checkbox:checked + .switch-label .switch-inner {
    background-color: #007bff;
}

.switch-switch {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 55%;
    transform: translate(0, -50%);
    right: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.switch-checkbox:checked + .switch-label .switch-inner::before {
    content: "ON";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-weight: bold;
}

.switch-checkbox:not(:checked) + .switch-label .switch-inner::before {
    content: "OFF";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-weight: bold;
}
